<h1>Daňová evidence</h1>
<% unless session[:root ]%>
  <%= link_to 'Kontakty', :controller => "customers" %>
  <br />
  <br />
  <%= link_to 'Řidiči', :controller => "drivers" %>
  <br />
  <br />
  <%= link_to 'Auta', :controller => "cars" %>
  <br />
  <br />
  <%= link_to 'Kniha jízd', :controller => "journeys" %>
  <br />
  <br />
  <%= link_to 'Peněžní deník', :controller => "cashbooks" %>
  <br />
  <br />
  <%= link_to 'Dlouhodobý majetek', :controller => "longtime_resources" %>
  <br />
  <br />
  <%= link_to 'Drobný majetek', :controller => "tiny_resources" %>
<% end %>
<br />
<br />
<%= link_to 'Uživatel', :controller => "users" %>
<br />
<br />
<%= link_to 'Odhlásit se', :action => "logout" %>