<h1>Změna uživatele</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :jméno %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :heslo %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :ověření_hesla %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Změnit" %>
  </p>
<% end %>

<%= link_to 'Ukaž', @user %> |
<%= link_to 'Zpět', users_path %>
