<h1>Výpis uživatelů</h1>

<table>
  <tr>
    <th>Jméno</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.name %></td>
    <td><%= link_to 'Ukaž', user %></td>
    <td><%= link_to 'Změnit', edit_user_path(user) %></td>
<% if session[:root] and user.name != 'root' %>
    <td><%= link_to 'Smazat', user, :confirm => 'Jste si jistý?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />
<% if session[:root] %>
  <%= link_to 'Nový uživatel', new_user_path %>
<% end %>
<br />
<%= link_to 'Hlavní stránka', :controller => "admin" %>