<h1>Nový uživatel</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :jméno %><br />
    <%= f.text_field :name, :size => 40 %>
  </p>
  <p>
    <%= f.label :heslo %><br />
    <%= f.password_field :password, :size => 40 %>
  </p>
  <p>
    <%= f.label :ověření_hesla %><br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </p>
  <p>
    <%= f.submit "Vytvořit" %>
  </p>
<% end %>

<%= link_to 'Zpět', users_path %>
