<h1>Editace peněžního deníku</h1>

<% form_for(@cashbook) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :předmět %><br />
    <%= f.text_field :what %>
  </p>
  <p>
    <%= f.label :datum %><br />
    <%= f.date_select :when, :order=>[:day,:month,:year] %>
  </p>
  <p>
    <%= f.label :Číslo_dokladu %><br />
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.label :Částka %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :poznámka %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.label :pohyb %><br />
    <%= f.select :movement, [['Příjem', 0], ['Výdej', 1]] %>
  </p>
  <p>
    <%= f.label :kde %><br />
    <%= f.select :where, [['Pokladna', 0], ['Banka', 1]]  %>
  </p>
  <p>
    <%= f.label :typ_položky %><br />
    <%= f.select :investment, [['Investice', 0], ['Režie', 1], ['Drobný předmět', 2]] %>
  </p>
  <p>
    <%= f.label :Ovlivňuje_základ_daně %><br />
    <%= f.check_box :changes_base %>
  </p>
  <p>
    <%= f.label :DPH %><br />
    <%= f.select :DPH, [['0%', 0], ['9%', 1], ['19%', 2]] %>
  </p>
  <p>
    <%= f.submit "Změnit" %>
  </p>
<% end %>

<%= link_to 'Ukaž', @cashbook %> |
<%= link_to 'Zpět', cashbooks_path %>
