<h1>Výpis peněžního deníku</h1>

<table>
  <tr>
    <th>Pořadové číslo záznamu</th>
    <th>Předmět</th>
    <th>Datum</th>
    <th>Číslo dokladu</th>
    <th>Částka</th>
    <th>Poznámka</th>
    <th>Pohyb</th>
    <th>Kde</th>
    <th>Typ položky</th>
    <th>Ovlivňuje základ daně</th>
    <th>Dph</th>
  </tr>

<% for cashbook in @cashbooks %>
  <tr>
    <td><%=h cashbook.id %></td>
    <td><%=h cashbook.what %></td>
    <td><%=h cashbook.when %></td>
    <td><%=h cashbook.order %></td>
    <td><%=h number_to_currency cashbook.amount %></td>
    <td><%=h cashbook.comment %></td>
    <td><%=h @movement[cashbook.movement] %></td>
    <td><%=h @where[cashbook.where] %></td>
    <td><%=h @investment[cashbook.investment] %></td>
    <td><%=h @changes_base[cashbook.changes_base] %></td>
    <td><%=h @DPH[cashbook.DPH] %></td>
    <td><%= link_to 'Ukaž', cashbook %></td>
    <td><%= link_to 'Změnit', edit_cashbook_path(cashbook) %></td>
    <td><%= link_to 'Smazat', cashbook, :confirm => 'Jste si jistý?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nová položka peněžního deníku', new_cashbook_path %>
<br />
<%= link_to 'Hlavní stránka', :controller => "admin" %>