<h1>Nové auto</h1>

<% form_for(@car) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :SPZ %><br />
    <%= f.text_field :SPZ %>
  </p>
  <p>
    <%= f.label :značka %><br />
    <%= f.text_field :marque %>
  </p>
  <p>
    <%= f.label :typ %><br />
    <%= f.text_field :car_type %>
  </p>
  <p>
    <%= f.label :vyrobeno %><br />
    <%= f.date_select :manufactured %>
  </p>
  <p>
    <%= f.label :získáno %><br />
    <%= f.date_select :acquisition %>
  </p>
  <p>
    <%= f.submit "Vytvoř" %>
  </p>
<% end %>

<%= link_to 'Zpět', cars_path %>
