<h1>Výpis z knihy jízd</h1>

<table>
  <tr>
    <th>Od kdy</th>
    <th>Do kdy</th>
    <th>Odkud</th>
    <th>Kam</th>
    <th>Důvod</th>
    <th>Řidič</th>
    <th>Auto</th>
    <th>Tachometr před</th>
    <th>Tachometr po</th>
  </tr>

<% for journey in @journeys %>
  <tr>
    <td><%=h journey.begun %></td>
    <td><%=h journey.finished %></td>
    <td><%=h journey.from_where %></td>
    <td><%=h journey.to_where %></td>
    <td><%=h journey.purpose %></td>
    <td><%=h Driver.find(journey.driver_id).surname %></td>
    <td><%=h Car.find(journey.car_id).SPZ %></td>
    <td><%=h journey.tachymetr_before %></td>
    <td><%=h journey.tachymetr_after %></td>
    <td><%= link_to 'Ukaž', journey %></td>
    <td><%= link_to 'Změnit', edit_journey_path(journey) %></td>
    <td><%= link_to 'Smazat', journey, :confirm => 'Jste si jistý?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nová jízda', new_journey_path %>
<br />
<%= link_to 'Hlavní stránka', :controller => "admin" %>